<a href="https://colab.research.google.com/github/sumantsharma16/Deep-learning/blob/main/9_heart_disease_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Load the data set

data collection and processing

In [ ]:
#loading data set into pandas data fram
heart_data = pd.read_csv('/content/data.csv')

In [ ]:
#print first five rows of dataset
heart_data.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca  thal  condition
0   69    1   0       160   234  ...      0.1      1   1     0          0
1   69    0   0       140   239  ...      1.8      0   2     0          0
2   66    0   0       150   226  ...      2.6      2   0     0          0
3   65    1   0       138   282  ...      1.4      1   1     0          1
4   64    1   0       110   211  ...      1.8      1   0     0          0

[5 rows x 14 columns]

In [ ]:
# print last rows datasets
heart_data.tail()

     age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca  thal  condition
292   40    1   3       152   223  ...      0.0      0   0     2          1
293   39    1   3       118   219  ...      1.2      1   0     2          1
294   35    1   3       120   198  ...      1.6      1   0     2          1
295   35    0   3       138   183  ...      1.4      0   0     0          0
296   35    1   3       126   282  ...      0.0      0   0     2          1

[5 rows x 14 columns]

In [ ]:
# number of rows and column in the data set

heart_data.shape

(297, 14)

In [ ]:


heart_data.describe()

              age         sex          cp  ...          ca        thal   condition
count  297.000000  297.000000  297.000000  ...  297.000000  297.000000  297.000000
mean    54.542088    0.676768    2.158249  ...    0.676768    0.835017    0.461279
std      9.049736    0.468500    0.964859  ...    0.938965    0.956690    0.499340
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     48.000000    0.000000    2.000000  ...    0.000000    0.000000    0.000000
50%     56.000000    1.000000    2.000000  ...    0.000000    0.000000    0.000000
75%     61.000000    1.000000    3.000000  ...    1.000000    2.000000    1.000000
max     77.000000    1.000000    3.000000  ...    3.000000    2.000000    1.000000

[8 rows x 14 columns]

In [ ]:
# getting some more information of data set

heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [ ]:
heart_data.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [ ]:
# statisical measures for data()
heart_data.describe()

              age         sex          cp  ...          ca        thal   condition
count  297.000000  297.000000  297.000000  ...  297.000000  297.000000  297.000000
mean    54.542088    0.676768    2.158249  ...    0.676768    0.835017    0.461279
std      9.049736    0.468500    0.964859  ...    0.938965    0.956690    0.499340
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     48.000000    0.000000    2.000000  ...    0.000000    0.000000    0.000000
50%     56.000000    1.000000    2.000000  ...    0.000000    0.000000    0.000000
75%     61.000000    1.000000    3.000000  ...    1.000000    2.000000    1.000000
max     77.000000    1.000000    3.000000  ...    3.000000    2.000000    1.000000

[8 rows x 14 columns]

In [ ]:
# checking the distrubtion of target variable
heart_data['condition'].value_counts()

0    160
1    137
Name: condition, dtype: int64

In [ ]:
# 1--> Defective
#2--> healthy ##

splitting the feature and target

In [ ]:
x = heart_data.drop(columns='condition',axis=1)
y = heart_data['condition']

In [ ]:
print(x)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     69    1   0       160   234  ...      0      0.1      1   1     0
1     69    0   0       140   239  ...      0      1.8      0   2     0
2     66    0   0       150   226  ...      0      2.6      2   0     0
3     65    1   0       138   282  ...      0      1.4      1   1     0
4     64    1   0       110   211  ...      1      1.8      1   0     0
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
292   40    1   3       152   223  ...      0      0.0      0   0     2
293   39    1   3       118   219  ...      0      1.2      1   0     2
294   35    1   3       120   198  ...      1      1.6      1   0     2
295   35    0   3       138   183  ...      0      1.4      0   0     0
296   35    1   3       126   282  ...      1      0.0      0   0     2

[297 rows x 13 columns]

In [ ]:
print(y)

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

Sppitting the target data into train test split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size=0.2, stratify=y, random_state = 2 )

In [ ]:
print(x_train)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
105   57    1   2       150   126  ...      0      0.2      0   1     2
258   52    1   3       125   212  ...      0      1.0      0   2     2
52    48    1   1       110   229  ...      0      1.0      2   0     2
93    60    1   2       140   185  ...      0      3.0      1   0     0
123   51    1   2        94   227  ...      1      0.0      0   1     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
282   43    1   3       120   177  ...      1      2.5      1   0     2
228   57    1   3       110   335  ...      1      3.0      1   1     2
90    62    1   2       130   231  ...      0      1.8      1   3     2
16    52    1   0       152   298  ...      0      1.2      1   0     2
128   49    1   2       120   188  ...      0      2.0      1   3     2

[237 rows x 13 columns]

In [ ]:
print(x.shape, x_train.shape, x_test.shape)

(297, 13) (237, 13) (60, 13)

Model training 


Logistic regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the logistic regression model with training data
model.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model evaluation

Accuracy score for

In [ ]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [ ]:
print('Accuracy on training data:', training_data_accuracy)

Accuracy on training data: 0.8565400843881856

In [ ]:
# accuracy on testing data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [ ]:
print('Accuracy on test data:', test_data_accuracy)

Accuracy on test data: 0.9

Building a predictive system

In [ ]:
input_data = (38,1,0,120,231,0,0,182,1,3.8,1,0,2)

# change the input into numpy array

input_data_as_numpy_array = np.asarray(input_data)

# reshape the numpy array as we are predicting only one instance

input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
  print('The person does not have a Heart disease')
else:
  print('The person have a Heart disease')

[0]
The person does not have a Heart disease

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"