<a href="https://colab.research.google.com/github/sumantsharma16/Deep-learning/blob/main/handling_imbalance_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

handling imbalance data set

In [ ]:
# data set with unequal data distrubition

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# loading dataset to Pandas DataFrame
credit_card = pd.read_csv('/content/creditcard.csv')

In [ ]:
# to see the data or over view on data
credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
# distrubition of two classes
credit_card['Class'].value_counts()

0.0    13897
1.0       56
Name: Class, dtype: int64

In [ ]:
from numpy.ma.core import transpose
# this is highly imblanced data
#0--->legit transanction
#1--->Fradulent transanction

In [ ]:
# seprating the legit and fradulent transaction
legit = credit_card[credit_card.Class==0]

In [ ]:
# separating the legit and fraudulent transactions
legit = credit_card[credit_card.Class == 0]
fraud = credit_card[credit_card.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(13897, 31)
(56, 31)

In [ ]:
legit_sample = legit.sample(n=492)
print(legit_sample.shape)

(492, 31)

In [ ]:
#concatenate the two data frame
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [ ]:
new_dataset.head()
new_dataset['Class'].value_counts()

0.0    492
1.0     56
Name: Class, dtype: int64

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1428,1105,1.386350,-1.404310,1.331375,-1.264569,-2.323632,-0.465504,-1.701645,0.027331,-1.193836,...,0.094243,0.604955,-0.032020,0.388278,0.182328,-0.044392,0.074717,0.044423,51.50,0.0
7534,10305,1.298059,0.667139,-0.634524,0.723848,0.623429,-0.557840,0.208048,-0.219127,0.866736,...,-0.286994,-0.537468,-0.186501,-0.634677,0.641034,0.362704,-0.063191,0.012464,0.76,0.0
4801,4280,-0.417917,0.717613,2.395525,2.027222,-0.280201,0.904039,-0.150351,0.340962,1.129253,...,-0.069958,0.373348,-0.158994,0.186748,-0.174063,-0.111022,0.174451,0.116690,15.00,0.0
3521,3010,0.755817,-0.782065,1.503034,1.143180,-0.625566,2.472433,-1.385406,1.010723,1.145787,...,0.377775,1.279442,-0.048405,-1.008457,0.065926,-0.082516,0.146421,0.027944,80.14,0.0
9350,13596,-1.857144,1.324807,1.593341,-0.105835,-0.332004,-0.127048,-0.201415,-3.221514,2.085156,...,1.972129,-1.085932,0.582097,0.330390,-0.976848,0.636654,-0.991678,-0.274466,24.15,0.0

In [ ]:
# Numerical data preprocessing
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
# data collection and preprocessing
# load the data from csv file to pandas dataframe
diabetes_data= pd.read_csv("/content/diabetes.csv")

In [ ]:
# first five rows
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# seprating features and target
x  = diabetes_data.drop(columns='Outcome', axis=1)

In [ ]:
y = diabetes_data['Outcome']

In [ ]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
scaler = StandardScaler()

In [ ]:
standardized_data = scaler.fit_transform(x)

In [ ]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
x = standardized_data

In [ ]:
print(x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# splitting the data into training and testing data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=34)

In [ ]:
print(x.shape, x_train.shape, x_test.shape)

(768, 8) (537, 8) (231, 8)