<a href="https://colab.research.google.com/github/sumantsharma16/Deep-learning/blob/main/Label_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Label encoding

converting the label into numeric form

In [1]:
# importing dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Label encoding of breast cancer dataset

In [2]:
# loading the data from csv file to pandas dataframe

In [3]:
cancer_data = pd.read_csv('/content/breast cancer.csv')

In [4]:
# first five rows of the data frame

In [5]:
cancer_data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [6]:
# diagnosis is label in this dataset

In [7]:
# finding the count of different labels
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [11]:
# load the Label Encoder function
label_encoder = LabelEncoder()

In [12]:
labels = label_encoder.fit_transform(cancer_data.diagnosis)

In [13]:
# appending the labels to the dataframe
cancer_data['target'] = labels

In [14]:
cancer_data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,target
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,1
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,1
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,1
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,1
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,1

0---> Benign


1---> Malignant

In [15]:
cancer_data['target'].value_counts()

0    357
1    212
Name: target, dtype: int64

Label encoding of iris data

In [16]:
# loading the dataframe in pandas dataframe
iris_data = pd.read_csv('/content/IRIS.csv')

In [17]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [19]:
iris_data['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [20]:
# loading the label encoder 
label_encoder_1 = LabelEncoder()

In [24]:
iris_labels = label_encoder_1.fit_transform(iris_data.species)

In [25]:
iris_data['target'] = iris_labels

In [26]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species  target
0           5.1          3.5           1.4          0.2  Iris-setosa       0
1           4.9          3.0           1.4          0.2  Iris-setosa       0
2           4.7          3.2           1.3          0.2  Iris-setosa       0
3           4.6          3.1           1.5          0.2  Iris-setosa       0
4           5.0          3.6           1.4          0.2  Iris-setosa       0

In [27]:
iris_data['target'].value_counts()

0    50
1    50
2    50
Name: target, dtype: int64